<a
    [routerLink]="'/services/edit/' + service.ref"
    class="hover:border-[#F7955B] bg-white border-white border-2 transition-all  rounded-xl hover-custom cursor-pointer overflow-hidden shadow-lg p-4 lg:min-h-72 min-h-56 flex flex-col justify-between w-full lg:max-w-sm"
>
    <div class="px-6 py-4">
        <div class="equipmentType transition-all font-bold text-xl mb-2">
            {{ service.equipmentType }}
        </div>
        <p class="text-gray-700 text-base">
            <strong>Data Prevista:</strong> {{ service.finalDate }}
        </p>
        <p class="text-gray-700 text-base">
            <strong>Descrição:</strong> {{ service.description.substring(0, 60) + (service.description.length > 60 ? '...' : '') }}
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ service.ref }}</span>
        <span [class]="getColor(service.status)" class="inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2">{{ service.status }}</span>
    </div>
</a>