.text-muted {
    color: #787878;
}

.selected {
    color: #F7955B !important;

    .text-muted {
        color: #F7955B !important;
    }
}

.cursor {
    cursor: pointer;
}

tr.dragging {
    opacity: 1;
    background-color: #3498db;
}

tr.dragover {
    background-color: #3498db;
    border: 2px dashed #3498db;
}

.context-menu {
    position: absolute;
    z-index: 1000;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-div {
    background-color: #00000034;
}


.blue {
    background-color: #006ab146;
    color: #03398a;
}

.green {
    background-color: #00b74a46;
    color: #00b74a;
}

.red {
    background-color: #ff00002e;
    color: #ff0000;
}

.black {
    background-color: #0000001a;
    color: #000000;
}

table {
    background: #fff;
    box-shadow: 0px 16px 25.5px -2px rgba(102, 102, 102, 0.055);
}
