@import "../../../color-variables.scss";

.nav-dropdown {
    position: relative;

    .dropdown::after {
        content: '';
        position: absolute;
        top: .5em;
        right: 1em;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background-size: cover;
        transition: all .4s;
    }

    .dropdownIn::after {
        background-image: url('../../../assets/icon_arrowDown.svg');
        transform: rotate(0deg);
    }

    .dropdownOut::after {
        background-image: url('../../../assets/icon_arrowDown.svg');
        transform: rotate(-180deg);
    }

    li {
        margin-left: 1em;
        padding: .5em 0;
    }

    ul li:first-child {
        padding-top: 1em;
    }
    ul li:last-child {
        padding-bottom: 0;
    }

    li::before {
        content: '';
        margin-right: .5em;
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: $secondary-color;
        border-radius: 100%;
    }

    li:hover::before {
        background-color: $primary-color;
    }
    li:hover {
        color: $primary-color;
        cursor: pointer;
    }
}



.fadeIn {
    display: block;
}



.fadeOut {
    display: none;
}


