<app-layout currentPage="/">
    <div main>
        <div class="flex w-full flex-wrap box-border">
            <div class="w-3/6 px-2 pb-2">
                <div
                    class="h-full custom-shadow bg-white border-white border-2 transition-all rounded-xl overflow-hidden p-4 block"
                >
                    <h1 class="text-xl font-bold text-black pb-4">Sistema para de Manutenção de Equipamentos</h1>
                    <p class="text-gray-500">Change User Image in Windows 10 You can person a lize your user account in Windows 10 by changing its display picture. Follow simple steps to change the picture you prefer.</p>
                </div>
            </div>
            <div class="w-2/6 px-2 pb-2">
                <div
                    class="h-full custom-shadow bg-white border-white border-2 transition-all rounded-xl overflow-hidden p-4 flex flex-col justify-between"
                >
                    <h1 class="text-xl font-bold text-black">Seu Progresso Atual</h1>
                    <div class="w-full bg-gray-200 rounded-full h-3 relative mb-8">
                        <span class="absolute -top-6 text-sm text-gray-500">5 / 8</span>
                        <div class="bg-[#F7955B] h-3 rounded-full" style="width: 62.5%;"></div>
                    </div>
                </div>
            </div>
            <div class="w-1/6 px-2 pb-2">
                <div
                    class="h-full custom-shadow bg-[#F7955B] text-white border-[#F7955B] border-2 transition-all rounded-xl overflow-hidden p-4 block"
                >
                    <div class="flex flex-col justify-center gap-4 items-center h-full relative">
                        <h1 class="text-xl font-bold text-center absolute top-0 left-0">Urgentes</h1>
                        <h1 class="absolute bottom-4 text-5xl">2</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex w-full flex-wrap box-border">
            <div class="w-9/12 p-2">
                <div
                    class="h-full custom-shadow bg-white border-white border-2 transition-all rounded-xl overflow-hidden p-4 block"
                >
                    <h1 class="text-xl font-bold text-black pb-4">Relatório Geral</h1>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="w-3/12 p-2">
                <div
                    class="custom-shadow bg-white border-white border-2 transition-all rounded-xl overflow-hidden p-4 flex flex-col gap-4 justify-start"
                >
                    <app-btn
                        link="/services/add"
                        size="block"
                        [text]="'Cadastrar um Serviço'"
                    ></app-btn>
                    <app-btn
                        link="/services"
                        size="block"
                        [text]="'Concluir um Serviço'"
                    ></app-btn>
                    <p class="text-center text-gray-500">
                        TaxStrategy 2024 | SME
                    </p>
                </div>
            </div>
        </div>
    </div>
</app-layout>
