<app-layout path="Visão Geral" currentPage="/">
    <div main>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
    </div>
    <div footer>
        <p>dashboard works (footer)!</p>
    </div>
</app-layout>
