<app-layout path="Ordens de Serviço" page="Painel de Manutenções" currentPage="/">
    <div main>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
        <p>dashboard works!</p>
    </div>
    <div footer>
        <p>dashboard works (footer)!</p>
    </div>
</app-layout>
