@import "../../../color-variables.scss";

.notification {
    position: relative;
}

.notification span {
    position: absolute;
    top: 0;
    height: 100%;
    right: 1em;
    background-color: $primary-color;
    color: white;
    padding: 2px 1.2em;
    font-size: 14px;
    border-radius: 20px;
}