<ul class="flex flex-col py-8">
    <ng-container *ngFor="let item of datas">
        <a [routerLink]="item.url" class="py-2">
        <li [class]="{'select': currentPage == item.url, 'notification': item.notification}" class="px-8 cursor-pointer hover:text-[#F7955B] transition-all select-none" *ngIf="item.url">
                {{ item.text }}
                <span *ngIf="item.notification">
                    {{ myServicesValue }}
                </span>
            </li>
        </a>
        <app-nav-dropdown *ngIf="!item.url" [data]="item" [currentPage]="currentPage" />
    </ng-container>
</ul>