@import "../../../color-variables.scss";
// <ul class="nav">
//     <li>
//         <a routerLink="/">Visão Geral</a>
//     </li>
//     <li class="notification">
//         <a routerLink="/">Meus Seviços</a>
//     </li>
//     <app-nav-dropdown />
//     <li class="nav-dropdown">
//         <p class="dropdown">Funcionários</p>
//         <ul>
//             <li>
//                 <a routerLink="/">Tabela de Funcionários</a>
//             </li>
//             <li>
//                 <a routerLink="/">Cadastrar novo Funcionário</a>
//             </li>
//         </ul>
//     </li>
// </ul>

.notification {
    position: relative;
}

.notification::after {
    content: '1';
    position: absolute;
    top: 0;
    height: 100%;
    right: 1em;
    background-color: $primary-color;
    color: white;
    padding: 2px 1.2em;
    font-size: 14px;
    border-radius: 20px;
}